<template name="items">
	<h2>Here are the external Profile ID's.</h2>
	{{ #each itemsList }}
  <p>Item ID: {{ _id }}, Profile ID: {{ id }}, name: {{ name }}</p>
	{{ /each }}

	<h2>Create Profile externally.</h2>
	<form id="create-form">
		<input name="first_name" type="text" placeholder="First Name">
		<input name="last_name" type="text" placeholder="Last Name">
		<input name="email" type="email" placeholder="Email Address">
		<button type="submit" class="create">Create</button>
	</form>
</template>
